.container {
  display: flex;
  gap: 10px; /* spazio tra i box */
  height: 100%;
}

.box1 {
  flex: 1; /* i due box dividono lo spazio a metà */
  background-color: #8a2be2;
  padding: 10px;
  border-radius: 8px;
  text-align: center;

}
.box2 {
  flex: 2; /* i due box dividono lo spazio a metà */
  background-color: #8a2be2;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  
}